<html>
    <head>
        <title>Lottery Website</title>
        <h1>Lottery Website</h1>
    </head>

    <body>
        <h3>Your lucky colour is yellow and lucky number is 2, so you just won £100!</h3>


        <h4>Game rules</h4>
        <h5>Red = £1</h5>
        <h5>Yellow = £50</h5>
        <h5>Green = £100</h5>
        <h5>Lucky number multiples your colour value</h5>
        <h5>So for instance, if your lucky colour is yellow and lucky number is 4: Then you win £200!</h5>
    </body>
</html>